*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: rgb(61,74,137);
background: radial-gradient(circle, rgba(61,74,137,1) 0%, rgba(44,43,92,1) 100%);
}
.header{
      position: relative;
      justify-content: center;
}
.header .logo{
    position: relative;
    color: white;
    margin: 0 40px;
    font-size: 20px;
}
.header .menu{
position: absolute;
top: 0;
right: 100px;
margin-top: 22px;
a{
    color: white;
    font-size: 35px;
    text-decoration: none;
    padding: 40px;
}
}
form {
    padding-top:40px ;
position:absolute;
top: 150px;
left: 50px;
border-top: 2px solid orange;
border-top-right-radius: 70px;
border-bottom-left-radius: 30px;
border-right: 2px solid orange;
border-bottom: 2px solid orange;
border-left: 2px solid orange;
width: 300px;
height: 330px;

h1{
    color: white;
    text-align: center;
}
label{
    color: white;
    font-size: 25px;
}

button{
    width: 200px;
    height: 30px;
    margin-top: 30px;
    border-radius: 9px;
    font-size: 20px;
    margin-left: 40px;
}
}
.usename input{
        background-image: url(/images/profile-user.png);
        background-repeat: no-repeat;
        background-size: 25px;
}
.password input{
        background-image: url(/images/lock.png);
        background-repeat: no-repeat;
        background-size: 25px;
}

form input{
    padding-left: 30px;
    margin: 15px;
    height: 30px;
    width: 250px;
    border-radius: 5px;

}